<div class="board-wrapper">
	<div class="container">
		<div class="chessground normal custom cburnett" id="ground7"></div>
		<div class="position-meta">
			<span class="label">{{color}} to move</span>
		</div>
	</div>

	<%- partial ('../core/session-widget.ejs') %>
</div>