.chessground.tiny {
  width: 225px;
  height: 225px;
}
.chessground.small {
  width: 300px;
  height: 300px;
}
.chessground.normal {
  width: 512px;
  height: 512px;
}
.chessground.large {
  width: 1024px;
  height: 1024px;
}
.cg-board-wrap svg {
  opacity: 0.6;
  overflow: hidden;
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 2;
}
.cg-board-wrap svg * {
  transition: 0.35s;
}
