html,
body {
	height: 100%;
}

body {
	background-color: @c-primary;
	font-family: @font-primary;
	color: white;

	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

div {
	.box-sizing;
}

a {
	display: inline-block;
	outline: none;
	text-decoration: none;
	color: white;
}

.aligner--center {
	.flex-display;
	.flex-direction(column);
	.align-items(center);
	.justify-content(center);
}

.cg-board {
	.border-radius(6px, 6px, 6px, 6px);
	.drop-shadow(0,0,8px, 0.2);
}

.content {
	&:extend(.aligner--center);

	height: 100%;
	padding-top: @site-header-height;
}

.label {
	text-transform: uppercase;
	letter-spacing: 1px;
	font-family: @font-secondary;
	font-size: @t-epsilon;
}

.game-meta {
	.align-self(center);
}

.session-widget {
	.border-radius(6px, 6px, 6px, 6px);
	.drop-shadow(0,0,8px, 0.2);

	background-color: lighten(@c-primary, 10%);

	section {
		text-align: center;

		&.points {
			overflow: hidden;

			.points-wrapper {
				font-weight: 700;
				padding: 20px;
				width: 50%;

				.label {
					color: darken(@c-primary, 10%);
				}

				&:first-of-type {
					float: left;
					border-right: 1px solid lighten(@c-primary, 8%);
				}

				&:last-of-type {
					float: right;
					border-left: 1px solid lighten(@c-primary, 8%);
				}
			}
		}
	}

	span {
		display: block;
	}

	.timer {
		.border-radius(0,6px,6px,0);
		color: darken(@c-primary, 10%);
		background-color: white;
		padding: 15px;
	}

	.value {
		font-size: @t-alpha;
	}
}

.board-wrapper {
	.flex-display;
	.align-items(flex-start);

	.container:last-of-type {
		min-width: 150px;
		margin-left: 40px;

		.button {
			margin-top: 20px;
			width: 100%;
		}
	}

	.position-meta {
		margin-top: 20px;
		text-align: center;
		letter-spacing: 2px;

		.label {
			font-size: @t-gamma;
		}
	}
}


.button {
	.gradient(@color: lighten(@c-primary, 20%), @start: darken(@c-accent, 20%), @stop: darken(@c-accent, 5%));
	.border-radius(6px,6px,6px,6px);
	.drop-shadow(0,0, 8px, 0.2);
	.transition(@duration:0.2s, @ease:ease-in-out);

	background-size: auto 200%;
	background-position: 0 100%;
	border: none;
	color: @c-primary;
	cursor: pointer;
	font-family: @font-primary;
	font-size: @t-epsilon;
	font-weight: 700;
	padding: 20px;
	text-shadow: 0 1px rgba(255,255,255, 0.5);

	-webkit-appearance: none;

	&:hover {
		.drop-shadow(0,0,6px, 0.4);

		background-position: 0 0;
	}
}

.site-header {
	background-color: darken(@c-primary, 5%);
	height: @site-header-height;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;

	header {
		mix-width: 1000px;
		margin: 0 auto;
		text-align: center;

		h1 {
			font-family: @font-secondary;
			font-weight: normal;
			letter-spacing: 1px;
			text-transform: uppercase;
			text-shadow: 0 1px 1px rgba(0,0,0, 0.4);
		}
	}

	.logo {
		.border-radius(4px,4px,4px,4px);
		.drop-shadow(0,1px,4px,0.3);
	}
}