<div data-ng-controller="SimpleController">
  <div class="info">{{color}} to move</div>
  <div class="info">Correct: {{correctCount}}</div>
  <div class="info">Incorrect: {{incorrectCount}}</div>
  <div class="info">Puzzles until bonus: {{puzzlesNeeded}}</div>
  <div class="info">{{timerValue}} seconds left</div>
  <button data-ng-click="initialize()">Reset</button>
</div>