<div class="site-header aligner--center">
	<header>
		<a href="/">
			<img src="https://dl.dropboxusercontent.com/u/9901664/Apps/Chesstonia/logo.png" height="35" width="35" class="logo" />
			<h1>Chesstonia</h1>
		</a>
	</header>
</div>