<div class="container">

	<div class="session-widget">
		<section class="points">
			<div class="points-wrapper">
				<span class="label">Passed</span>
				<span class="value">{{correctCount}}</span>
			</div>

			<div class="points-wrapper">
				<span class="label">Failed</span>
				<span class="value">{{incorrectCount}}</span>
			</div>
		</section>
		<section class="timer">
			<span class="value">{{timerDisplay}}</span>
		</section>
	</div>

	<button data-ng-click="initialize()" class="button">Start Over</button>
</div>